*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fef;
}

h1{
  margin: 0;
  color: orange;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

header{
    display: grid;
    grid-auto-flow: column;
    height: 50px;
    background-color: #777;
    position: sticky;
    top: 0;
    font-family: 'Climate Crisis', cursive;
    letter-spacing: 8px;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  font-size: 22px;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(220, 146, 19);
  text-decoration: none;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  font-size: 14px;
}

@keyframes header {
  0%{
    color: rgb(220, 146, 19);
  }
  50%{
    color: rgb(200, 126, 15);
  }
  70%{
    color: rgb(210, 136, 10);
  }
  100%{
    color: rgb(210, 129, 10);
  }
} 

.caixaContent{
  margin: auto;
  width: 70%;
  height: 100vh;
}

.caixaDetails{
  display: flex;
}

summary{
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  color: #ffe;
  font-size: 25px;
}