*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: #fef;
  background-image: url(../imgs/ichigo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1{
  margin: 0;
  color: orange;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

header{
    display: grid;
    grid-auto-flow: column;
    height: 50px;
    background-color: #777;
    position: sticky;
    top: 0;
    font-family: 'Climate Crisis', cursive;
    letter-spacing: 8px;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  font-size: 22px;
  margin: auto;
}

li:hover{
  transition: 500ms;
  color: black;
}

a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(220, 146, 19);
  text-decoration: none;
  animation-name: header;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  font-size: 14px;
}

@keyframes header {
  0%{
    color: rgb(220, 146, 19);
  }
  50%{
    color: rgb(200, 126, 15);
  }
  70%{
    color: rgb(210, 136, 10);
  }
  100%{
    color: rgb(210, 129, 10);
  }
} 

.caixaContentDetails{
  margin: auto;
  width: 70%;
  display: flex;
}

.caixaContentDetailsGrid{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10vw;

}


summary{
  text-decoration: none;
  list-style-type: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: rgb(233, 39, 14);
  background-color: black;
  font-size: 25px;
}

.formDetails{
  margin: auto;
  width: 140px;
  text-align:left;
  border: 0px;
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 5px;
}